@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #006975;
    --secondary: #feb925;
    --danger: #d40000;
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

a {
    color: inherit;
    text-decoration: none;
}

.product-title {
    font-size: 32px;
}

.mui-contained-primary {
    background: var(--primary);
}

.mui-contained-secondary {
    background: var(--secondary);
}

.mui-contained-danger {
    background: var(--danger);
}
